<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ground Command and Data Handling</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <header>
        <h1>Ground Command and Data Handling</h1>
        <p>Displaying spacecraft telemetry, angle, and temperature, sending commands to spacecraft</p>
    </header>

    <section class="container">

        <div class="readings-container">
            <h2>Current Ship Readings: </h2>
            <div class="readings">
                <label>Co-ordinates:</label>
                <span class="readings-item" id="x-coordinate">{{ .coordsX }}, </span>
                <span class="readings-item" id="y-coordinate">{{ .coordsY }}, </span>
                <span class="readings-item" id="z-coordinate">{{ .coordsZ }}</span>
            </div>

            <div class="readings">
                <label>Temperature:</label>
                <span class="readings-item" id="temp">{{ .temp }} °C</span>
            </div>

            <div class="readings">
                <label>Angle (Pitch/Yaw/Roll):</label>
                <span class="readings-item" id="pitch">{{ .pitch }}°, </span>
                <span class="readings-item" id="yaw">{{ .yaw }}°, </span>
                <span class="readings-item" id="roll">{{ .roll }}°</span>
            </div>

            <div class="readings">
                <label>Status:</label>
                <span class="readings-item" id="payload-power">Payload: {{ .PayloadPower }}</span>
                <span class="readings-item" id="data-waiting">Waiting for Data: {{ .dataWaiting }}</span>
                <br>
                <span class="readings-item" id="charge-status">Charge Status: {{ .chargeStatus }}</span>
                <span class="readings-item" id="voltage">Current Voltage: {{ .voltage }}</span>

            </div>

        </div>

        <div class="coordinate-input-container">
            <h2>Co-ordinate Input:</h2>
            <div class="coordinate-input">
                <input type="number" placeholder="X">
                <input type="number" placeholder="Y">
                <input type="number" placeholder="Z">
            </div>
            <button id="sendCommandBtn">Send Command</button>
        </div>

        <div class="telemetry-input-container">
            <h2>Co-ordinate Input:</h2>
            <div class="coordinate-input">
                <input type="number" placeholder="X">
                <input type="number" placeholder="Y">
                <input type="number" placeholder="Z">
            </div>
            
            <h2>Angle Input:</h2>
            <div class="angle-input">
                <input type="number" placeholder="Pitch">
                <input type="number" placeholder="Yaw">
                <input type="number" placeholder="Roll">
            </div>
            <button id="sendCommandBtn">Send Command</button>
        </div>

        <div class="angle-input-container">
            <h2>Angle Input:</h2>
            <div class="angle-input">
                <input type="number" placeholder="Pitch">
                <input type="number" placeholder="Yaw">
                <input type="number" placeholder="Roll">
            </div>
            <button id="sendCommandBtn">Send Command</button>
        </div>

        <div class="controls">
            <h2>User Interface Controls</h2>
            <ul>
                <li><button id="getTelemetryBtn">Request Current Telemetry</button></li>
                <li><button id="setTelemetryBtn">Set Telemetry</button></li>
                <li><button id="setCoordinateBtn">Set Co-ordinates</button></li>
                <li><button id="setAngleBtn">Set Angle</button></li> 
            </ul>
        </div>

    </section>

    <script src="/scripts/script.js"></script>


</body>

</html>
